## Replace NAN values with new Feature

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('train.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [3]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [4]:
df['BsmtQual_new']=np.where(df["BsmtQual"].isna(),1,0)

In [5]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_new
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [10]:
freq = df['BsmtQual'].mode()[0]

In [11]:
df['BsmtQual'].fillna(freq,inplace=True)

In [12]:
df.isna().sum()

BsmtQual          0
FireplaceQu     690
GarageType       81
SalePrice         0
BsmtQual_new      0
dtype: int64

## new feature

In [13]:
df=pd.read_csv('train.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [14]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [15]:
def impute_new(df,variable):
    df[variable]=np.where(df[variable].isna(),'missing',df[variable])

In [16]:
for feature in ['BsmtQual','FireplaceQu','GarageType','SalePrice'] :
    impute_new(df,feature)

In [17]:
df.head()

  BsmtQual FireplaceQu GarageType SalePrice
0       Gd     missing     Attchd    208500
1       Gd          TA     Attchd    181500
2       Gd          TA     Attchd    223500
3       TA          Gd     Detchd    140000
4       Gd          TA     Attchd    250000

In [19]:
df.isna().sum()

BsmtQual       0
FireplaceQu    0
GarageType     0
SalePrice      0
dtype: int64